# Workflow to build and release UiaXpathTester for production
name: Build & Release Production

# Permissions for the workflow
permissions:
  contents: write

# Trigger workflow on push to the main branch
on:
  push:
    branches:
      - main
    paths-ignore:
      - 'README.md'

# Set environment variables
env:
  artifactStagingDirectory: ${{ github.workspace }}/artifact_staging
  artifactType: 'Production'
  binariesDirectory: ${{ github.workspace }}/binaries
  buildConfiguration: 'Release'
  buildPlatform: 'any cpu'
  projectName: Uia.DriverServer
  solutionName: Uia

# Default settings for all run steps
defaults:
  run:
    working-directory: src

# Define jobs for the workflow
jobs:
  # Job to get the version of the build
  new-version:
    name: New Version
    runs-on: windows-latest

    # Outputs of the job
    outputs:
      buildVersion: ${{ steps.parse-version.outputs.version }}
      validVersion: ${{ steps.validate-version.outputs.valid }}

    steps:
    # Step to checkout the repository
    - name: Checkout repository
      uses: actions/checkout@v4
    
    # Step to parse the build version for GitHub tag
    - name: Parse Build Version for GitHub Tag
      id: parse-version
      shell: pwsh
      run: echo "version=$(Get-Date -UFormat '%Y.%m.%d').${{ github.run_number }}" >> $env:GITHUB_OUTPUT

    # Step to validate the parsed version
    - name: Validate Version ${{ steps.parse-version.outputs.version }}
      id: validate-version
      shell: pwsh
      run: |
        $version = "${{ steps.parse-version.outputs.version }}"
        echo "valid=$($version -match '^\d+(\.\d+){3}$')" >> $env:GITHUB_OUTPUT

  # Job to build and publish the project
  new-build:
    name: Build & Publish Driver Server ${{ needs.new-version.outputs.buildVersion }}
    runs-on: windows-latest
    needs: new-version
    if: ${{ needs.new-version.result == 'success' && needs.new-version.outputs.validVersion == 'True' }}
    strategy:
      matrix:
        include:
          - configuration: Release
            suffix: ""
            useEmgu: false
          - configuration: Release_Emgu
            suffix: -emgu
            useEmgu: true

    # Outputs of the job
    outputs:
      buildVersion: ${{ needs.new-version.outputs.buildVersion }}
    
    # Set environment variables specific to the build job
    env:
      buildVersion: ${{ needs.new-version.outputs.buildVersion }}
    
    steps:
    # Step to checkout the repository
    - name: Checkout repository
      uses: actions/checkout@v4
      
    # Step to setup .NET Core SDK
    - name: Setup .NET Core SDK
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10

    # Step to restore packages
    - name: Restore Packages
      shell: pwsh
      run: dotnet restore

    # Add msbuild to PATH to ensure that MSBuild is available for the build and publish steps
    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v2

    # Set the version in the Program.cs file
    - name: Set Emgu.CV Dependencies
      shell: pwsh
      run: |
          $csprojPath     = (Get-ChildItem -Path . -Recurse -Filter "Uia.DriverServer.Domain.csproj" | Select-Object -First 1).FullName
          $useEmgu        = '${{ matrix.useUmgu }}'
          [xml]$csprojXml = Get-Content $csprojPath
          $useEmguNode    = $csprojXml.SelectSingleNode("//UseEmgu")

          $useEmguNode.InnerText = $useEmgu
          Write-Host "Updated <UseEmgu> node with value: $useEmgu"

          $csprojXml.Save($csprojPath)
          Write-Host "Saved updated csproj."

    # Set the Emgu dependencies
    - name: Set Version v${{ env.buildVersion }}
      shell: pwsh
      run: |
          $tempVersion = '"0000.00.00.0000"'
          $version     = '"${{ env.buildVersion }}"'

          Get-ChildItem -Path '${{ github.workspace }}' -Filter "Program.cs" -Recurse | ForEach-Object {
              $filePath = $_.FullName
              $content = Get-Content -Path $filePath -Raw
              $newContent = $content -replace [regex]::Escape($tempVersion), $version
              Set-Content -Path $filePath -Value $newContent
          }

    # Step to publish the project
    - name: Publish
      shell: pwsh
      run: msbuild ${{ env.solutionName }}.sln /t:Publish /p:Configuration=${{ matrix.configuration }} /p:Platform="Any CPU" /p:PublishDir=${{ env.binariesDirectory }}/uia-driver-server${{ matrix.suffix }}/

    # Step to create a build artifact
    - name: Create Build Artifact
      shell: pwsh
      run: |
        New-Item -Path "${{ env.artifactStagingDirectory }}" -ItemType Directory
        Compress-Archive `
            -Path ${{ env.binariesDirectory }}/uia-driver-server${{ matrix.suffix }}/* `
            -DestinationPath ${{ env.artifactStagingDirectory }}/${{ env.projectName }}.${{ env.buildVersion }}-win-x64${{ matrix.suffix }}.zip 

    # Step to upload the build artifact
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v4
      with:
        name: drop${{ matrix.suffix }}
        path: ${{ env.artifactStagingDirectory }}/${{ env.projectName }}.${{ env.buildVersion }}-win-x64${{ matrix.suffix }}.zip

  new-accessibility-insights-artifact:
    name: Build & Publish Accessibility Insights ${{ needs.new-version.outputs.buildVersion }}
    runs-on: windows-latest
    needs: 
      - new-version
    if: success()

    # Set environment variables specific to the build job
    env:
      buildVersion: ${{ needs.new-version.outputs.buildVersion }}
      configuration: Release

    steps:
    - name: Checkout microsoft/accessibility-insights-windows
      uses: actions/checkout@v4
      with:
        repository: microsoft/accessibility-insights-windows
        ref: main
        path: ${{ github.workspace }}/accessibility-insights
        fetch-depth: 1

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v2

    - name: Setup NuGet
      uses: NuGet/setup-nuget@v2

    - name: Restore
      working-directory: ${{ github.workspace }}/accessibility-insights
      shell: pwsh
      run: |
        nuget restore ./src/AccessibilityInsights.sln

    - name: Publish
      shell: pwsh
      working-directory: ${{ github.workspace }}/accessibility-insights
      run: |
        msbuild ./src/AccessibilityInsights/AccessibilityInsights.csproj `
          /t:Publish `
          /p:Configuration=${{ env.configuration }} `
          /p:Platform="Any CPU" `
          /p:PublishDir=${{ github.workspace }}/binaries/accessibility-insights-publish/

    - name: Compress
      shell: pwsh
      working-directory: ${{ github.workspace }}/accessibility-insights
      run: |
        New-Item -ItemType Directory -Force -Path "${{ github.workspace }}/artifact_staging" | Out-Null
        
        Compress-Archive `
          -Path "${{ github.workspace }}/binaries/accessibility-insights-publish/*" `
          -DestinationPath "${{ github.workspace }}/artifact_staging/AccessibilityInsightsPortable.${{ env.buildVersion }}-win-x64.zip" `
          -Force

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: drop-accessibility-insights
        path: ${{ github.workspace }}/artifact_staging/AccessibilityInsightsPortable.${{ env.buildVersion }}-win-x64.zip
        if-no-files-found: error

  # Job to create a GitHub release and tag the new version
  new-release:
    name: New GitHub Release Version ${{ needs.new-version.outputs.buildVersion }}
    runs-on: windows-latest
    needs: 
      - new-version
      - new-build
      - new-accessibility-insights-artifact
    if: success()

    # Set environment variables specific to the release job
    env:
      buildVersion: ${{ needs.new-version.outputs.buildVersion }}

    steps:
    # Step to checkout the repository
    - name: Checkout repository
      uses: actions/checkout@v4

    # Step to download build artifacts
    - name: Download Build Artifacts
      uses: actions/download-artifact@v4
      with:
        name: drop

    # Step to download build artifacts
    - name: Download Build Artifacts
      uses: actions/download-artifact@v4
      with:
        name: drop-emgu

    # Step to download build artifacts
    - name: Download Build Artifacts
      uses: actions/download-artifact@v4
      with:
        name: drop-accessibility-insights

    # Step to create a GitHub release and tag
    - name: Create GitHub Release & Tag v${{ env.buildVersion }}
      uses: softprops/action-gh-release@v2
      with:
        files: |
          ./${{ env.projectName }}.${{ env.buildVersion }}-win-x64.zip
          ./${{ env.projectName }}.${{ env.buildVersion }}-win-x64-emgu.zip
          ./AccessibilityInsightsPortable.${{ env.buildVersion }}-win-x64.zip
        tag_name: v${{ env.buildVersion }}
        name: ${{ env.artifactType }} v${{ env.buildVersion }}
        generate_release_notes: true
        prerelease: false
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
